* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post-content p:not(:last-child) {
  margin-bottom: 16px;
}

:root {
  --dark: #2c3e50;
  --danger: #e74c3c;
  --light: #ecf0f1;
  --primary: #3498db;
  --darkPrimary: #2980b9;
}
