* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post-content p:not(:last-child) {
  margin-bottom: 16px;
}

.post-content ul {
  padding-left: 20px;
  margin-bottom: 16px;
}

.post-content li {
  list-style-type: disc;
  margin-bottom: 8px;
  color: var(--text);
}

.post-content a {
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  color: #3498db;
  border-bottom: 2px solid;
}

.post-content a:hover {
  color: #2980b9;
}

.post-content img {
  margin-bottom: 8px;
}

img {
  width: 100%;
}

:root {
  --gray: #ababab;
  --theme: #2c3e50;
  --black: #333;
  --light: #ecf0f1;
  --white: #fff;
  --primary: #3498db;
  --darkPrimary: #2980b9;
  --text: var(--black);
  --title: #2c3e50;
  --background: var(--white);
  --darkMode: true;
}
